VITE_SUPABASE_URL=https://xtrlpbuaoyggvjentdey.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0cmxwYnVhb3lnZ3ZqZW50ZGV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyNzcwMzYsImV4cCI6MjEwMzg1MzAzNn0.zpZKDWmB65AmX_p4CtmD-jKMF9E-S57UaVvfJFXpjlU
VITE_UPI_ID=dhalak65@okicici
VITE_REGISTRATION_FEE=50
